{% extends 'base.html' %}
{% block title %}Shotscreens{% endblock %}

{% block content %}
    <h1>About:</h1>
    <!-- WEEBLY_START_CONTENT -->
	<div>
        <p>
		    <h3>Shotscreens is implemented by our developer Kirill Yakovenko and distributed under GPL license.</h3>

            <h3>Contacts:</h3>
            <h3>
                <ui>
                    <li>Email: <a href="mailto:contacts@crystalnix.com">contacts@crystalnix.com</a> </li>
                    <li>Website: <a href="http://www.crystalnix.com">crystalnix.com</a></li>
                </ui>
            </h3>
        </p>
	</div>
{% endblock %}
