{% extends 'base.html' %}
{% block title %}Shotscreens{% endblock %}

{% block content %}
    <h1>Downloads:</h1>
    <!-- WEEBLY_START_CONTENT -->
	<div>
		<h2>System requirements:</h2>
        <h3>
            <ul>
                <li>
                    <font>Windows XP or Vista</font>
                </li>
                <li>
                    <font>High speed internet connection</font>
                </li>
            </ul>
        </h3>
        <h4>
			<a href="http://shotscreens.googlecode.com/files/Shotscreens.exe">Download</a> free shotscreens Windows client
        </h4>
	</div>
    <hr>
	<div>
		<h2>Development and sources:</h2>
		<h3>Shotscreens is open-source program and distributed under GPL license. All its modules (except video recording) <br/>
		implemented on Python programming language. We use some 3rdparty libraries, install them if you want to play with <br/>
		sources.</h3>
        <h3>
            <ul>
                <li>
                    <a href="http://www.wxpython.org/">wxPython</a><br />
                <li>
                    <a href="http://gdata-python-client.googlecode.com/files/gdata-2.0.0.zip">Google Data API</a> (youtube and picasa uploaders)
                </li>
                <li>
                    <a href="http://code.google.com/p/shotscreens/source/checkout">Sources</a> of shotscreens client
                </li>
            </ul>
        </h3>
	</div>
{% endblock %}
