{% extends 'base.html' %}
{% block title %}Shotscreens{% endblock %}
{% block content %}
    <h1>Shotscreens:</h1>
    <!-- WEEBLY_START_CONTENT -->
    <div>
        <h3>
            <ui>
                <li>Capture a video/picture from your screen</li>
                <li>Edit and share via IM/Blog/Youtube/Picasa</li>
                <li>No installaion needed</li>
            </ui>
        </h3>

        <div align="center">
            <object width='640' height='480'>
                <param name="movie" value="http://www.youtube.com/v/8ghu4NNEOro"></param>
                <param name="wmode" value="transparent"></param>
                <param name="allownetworking" value="internal"></param>
                <embed src="http://www.youtube.com/v/8ghu4NNEOro" type="application/x-shockwave-flash" allownetworking="internal" wmode="transparent" width='640' height='480'></embed>
            </object>
        </div>	
    </div>
{% endblock %}
